#jinja2: trim_blocks: "true", lstrip_blocks: "true"
% {{ ansible_managed }}

{%
    set ssl_options = [
      {'key': 'versions',
       'type': 'atom',
       'value': rabbitmq_tls_versions},
      {'key': 'ciphers',
       'type': 'string',
       'value': rabbitmq_tls_ciphers}
    ]
-%}

[
  {amqp_client, [
    {ssl_options, [
{% for option in ssl_options | selectattr('value') %}
  {% set escape_char = '"' if option.type == 'string'
       else "'" if option.type == 'atom'
       else ""
  %}
  {% if option.value is string %}
      {{ "{" }}{{ option.key }}, {{ escape_char }}{{ option.value }}{{ escape_char }}{{ "}" }}
  {%- elif option.value is sequence %}
      {{ "{" }}{{ option.key }}, [
    {% for value in option.value %}
        {{ escape_char }}{{ value }}{{ escape_char }}{% if not loop.last %},{% endif +%}
    {% endfor %}
      ]}
  {%- endif %}
  {% if not loop.last %},{% endif +%}
{% endfor %}
    ]}
  ]}
].
